<section class="hero-room">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/double-room/bedroom-des.jpg    1x,
              ./images/double-room/bedroom-des-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/double-room/bedroom-tab.jpg    1x,
              ./images/double-room/bedroom-tab-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <source
            srcset="
              ./images/double-room/bedroom-mob.jpg    1x,
              ./images/double-room/bedroom-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="room-slide"
            src="./images/double-room/bedroom-des.jpg"
            alt="Ліжко двомісний"
            width="414"
            height="740"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/double-room/living-des.jpg    1x,
              ./images/double-room/living-des-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/double-room/living-tab.jpg    1x,
              ./images/double-room/living-tab-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <source
            srcset="
              ./images/double-room/living-mob.jpg    1x,
              ./images/double-room/living-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="room-slide"
            src="./images/double-room/living-des.jpg"
            alt="Гостьова кімната"
            width="414"
            height="740"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/double-room/bathroom-des.jpg    1x,
              ./images/double-room/bathroom-des-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/double-room/bathroom-tab.jpg    1x,
              ./images/double-room/bathroom-tab-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <source
            srcset="
              ./images/double-room/bathroom-mob.jpg    1x,
              ./images/double-room/bathroom-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="room-slide"
            src="./images/double-room/bathroom-des.jpg"
            alt="Гостьова кімната"
            width="414"
            height="740"
          />
        </picture>
      </div>
    </div>
    <div class="swiper-button-next">
      <svg class="swiper-button" width="40" height="40">
        <use href="./images/sprite.svg#icon-cil_arrow-right"></use>
      </svg>
    </div>
    <div class="swiper-button-prev">
      <svg class="swiper-button" width="40" height="40">
        <use href="./images/sprite.svg#icon-cil_arrow-left"></use>
      </svg>
    </div>
  </div>
  <div class="room-gradient"></div>
  <div class="container room-container">
    <address class="room-address-box">
      <a
        class="room-address-link link"
        href="https://goo.gl/maps/XkBfc9FVBQZGHEfTA"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="room-address-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-location"></use>
        </svg>
        Україна, м. Полтава, <br />вул. Маршала Бірюзова, 15
      </a>
    </address>
    <div class="room-hero-wrap">
      <h1 class="room-hero-title">
        <span class="room-hero-title-caps">Двомісний номер</span>
      </h1>
      <p class="room-hero-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <ul class="social-list room-social-list">
        <li class="room-social-item">
          <a
            href="#"
            target="_blank"
            aria-label="Інстаграм"
            class="social-list__link"
          >
            <svg class="social-list__icon icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="room-social-item">
          <a
            href="#"
            target="_blank"
            aria-label="Фейсбук"
            class="social-list__link"
          >
            <svg class="social-list__icon icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="room-social-item">
          <a
            href="#"
            target="_blank"
            aria-label="Телеграм"
            class="social-list__link"
          >
            <svg class="social-list__icon icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-telegram-plane"></use>
            </svg>
          </a>
        </li>
      </ul>

      <button class="btn room-btn js-open-modal" data-modal="4" type="button">
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
