.hero-room {
  position: relative;
  padding: 0;
}

.swiper {
  max-width: 1280px;
}

.room-slide {
  width: 100%;
  object-fit: cover;
  max-width: 1280px;
  margin: 0 auto;
}

.swiper-button {
  fill: currentColor;
  background-color: rgba(0, 0, 0, 0.65);
}

.swiper-button-next:hover,
.swiper-button-next:focus,
.swiper-button-prev:hover,
.swiper-button-prev:focus {
  color: getColor('accent-color');
}

.swiper-button-next {
  right: 15px;
  width: auto;
  color: getColor('white-text');
  @media screen and (min-width: 1024px) {
    right: 47px;
  }
  @media screen and (min-width: 1280px) {
    right: 85px;
  }
}

.swiper-button-prev {
  left: 15px;
  width: auto;
  color: getColor('white-text');
  @media screen and (min-width: 1024px) {
    left: 47px;
  }
  @media screen and (min-width: 1280px) {
    left: 85px;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
}

.room-gradient {
  position: absolute;
  width: 100%;
  height: 143px;
  top: 0;
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
  max-width: 1280px;
  left: 50%;
  transform: translate(-50%);
}

.room-container {
  position: absolute;
  height: 740px;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  @media screen and (min-width: 1024px) {
    height: 728px;
  }
  @media screen and (min-width: 1280px) {
    height: 720px;
  }
}

.room-address-box {
  min-width: 210px;
  padding: 9px 6px;
  border: 1px solid #f3c653b3;
  border-radius: 2px;
  position: absolute;
  top: 64px;
  right: 15px;
  z-index: 1;
  @media screen and (min-width: 1024px) {
    top: auto;
    right: auto;
    bottom: 24px;
    left: 47px;
    padding: 8px 16px 8px 10px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.room-address-link {
  color: #e5e5e5;
  letter-spacing: 0.01em;
  text-align: left;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  text-decoration: none;
  display: flex;
  gap: 8px;
  @media screen and (max-width: $mobile) {
    font-size: 3vw;
  }
  @media screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: calc(20 / 16);
    gap: 10px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.room-address-icon {
  fill: getColor('accent-color');
  @media screen and (min-width: 1024px) {
    width: 24px;
    height: 24px;
  }
}

.room-hero-wrap {
  position: absolute;
  bottom: 14px;
  z-index: 1;
  max-width: 325px;
  @media screen and (min-width: 1024px) {
    max-width: 100%;
    bottom: 38px;
    width: 930px;
  }
  @media screen and (min-width: 1280px) {
    bottom: 38px;
    width: 1110px;
  }
}

.room-hero-title {
  margin-bottom: 14px;
  font-family: 'Times New Roman';
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.05em;
  color: getColor('white-text');
  @media screen and (max-width: $mobile) {
    font-size: 7vw;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: calc(41 / 36);
  }
}

.room-hero-title-caps {
  text-transform: uppercase;
}

.room-hero-text {
  margin-bottom: 16px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: getColor('white-text');
  @media screen and (max-width: $mobile) {
    font-size: 3vw;
  }

  @media screen and (min-width: 1024px) {
    width: 400px;
    margin-bottom: 42px;
    font-size: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
  }
}

.room-social-list {
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    gap: 20px;
    margin-left: 325px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.room-social-item {
  height: 24px;
}

.room-btn {
  position: absolute;
  bottom: 25px;
  right: 0;
  @media screen and (max-width: $mobile) {
    font-size: 4vw;
  }

  @media screen and (min-width: 1024px) {
    bottom: 26px;
  }
  @media screen and (min-width: 1280px) {
    bottom: 18px;
  }
}
