@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'open sans', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width: 414px) {
    max-width: 414px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1140px;
  }
}
