*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'open sans', sans-serif;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  font-family: inherit;
}
address {
  font-style: normal;
}
img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

