.double{
    padding-top: 32px;
    padding-bottom: 32px;
    @media screen and (min-width: 1024px){
        padding-top: 64px;
        padding-bottom: 104px;
        position: relative;
        margin: auto;
        width: 1024px;
    }
    @media screen and (min-width: 1280px){
        padding-top: 72px;
        padding-bottom: 112px;
        width: 1280px;
    }
    
}
.hotel__item-titel{
    @media screen and (min-width: 320px){
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 5vw;
        line-height: 1.15;
        margin-bottom: 4px;
        color: #B4B4B4;
    }
    @media screen and (min-width: 414px){
        font-size: 20px;
        margin-bottom: 8px;
    }
    @media screen and (min-width: 1024px){
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 4px;
    }

}
.logo-page {
    font-family: 'Film P3', sans-serif;
    @include font(40, 69, 700, 0.3em);
    color: #494848;
    text-transform: uppercase;
    margin-bottom: 32px;
    @include tablet {
      font-size: 64px;
      line-height: 1.08;
      margin-bottom: 62px;
    }
    @include desktop {
        margin-bottom: 72px;
      }

  }
.hotel__room{
    @media screen and (min-width: 320px){
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 6vw;
        line-height: 1.2;
        color: #000000;
    }
    @media screen and (min-width: 414px){
        font-size: 24px;
        letter-spacing: 0.05em;
    }
    @media screen and (min-width: 1024px){
        font-size: 30px;
        line-height: 1.1;
    }
    @media screen and (min-width: 1280px){
        font-size: 36px;
    }
}
.hotel__about{
    @media screen and (min-width: 320px){
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 3vw;
        line-height: 1.25;
        margin-top: 10px;
        color: #7A7A7A; 
    }
    @media screen and (min-width: 414px){
        font-size: 12px;
        letter-spacing: 0.02em;
        width: 258px;
        margin-top: 12px;
    }
    @media screen and (min-width: 1024px){
        font-size: 16px;
        width: 439px;
        margin-top: 16px;
    }
    @media screen and (min-width: 1280px){
        font-size: 16px;
        width: 400px;
        margin-top: 24px;
    }
}
.images{
    @media screen and (min-width: 320px){
        width: 194px;
        height: 272px;
        margin-left: 90px;
    }
    
    @media screen and (min-width: 414px){
        width: 244px;
        height: 322px;
        margin-left: 140px;
    }
    @media screen and (max-width: 1023px){
        margin-top: 32px;
    
    }
    @media screen and (min-width: 1024px){
        display: block;
        position: absolute;
        content: "";
        top: -32px;
        right: 112px;
        width: 400px;
        height: 524px;
    }
    @media screen and (min-width: 1280px){
        width: 460px;
        height: 574px;
        right: 250px;
       
    }

    &-list{
        @media screen and (min-width: 320px){
            width: 404px;
            display: flex;
            gap: 16px;
            margin-top: 32px; 
        }
        @media screen and (min-width: 414px){
            width: 404px;
            display: flex;
            gap: 16px;
        }
        
        @media screen and (max-width: 500px){
            margin-left: -115px;
        }
        @media screen and (min-width: 1024px){
            display: flex;
            gap: 40px;
            margin-top: 176px;
        }
        @media screen and (min-width: 1280px){
            width: 548px;
            margin-top: 188px;
        }
    }
}

.slider{
    @media screen and (min-width: 320px){
        width: 304px;
        height: 194px;
        background-color: #494848;
    }
    @media screen and (min-width: 414px){
        width: 404px;
        height: 194px;
    } 
    @media screen and (min-width: 1280px){
        width: 540px;
        height: 254px;
    } 
}
.svg-list{
    @media screen and (min-width: 414px){
        display: flex;
        gap: 32px;
        width: 98px;
        justify-content: left;
        margin-top: 20px;
        cursor: pointer;
    } 
    @media screen and (min-width: 1024px){
        margin-top: 40px;
        width: 404px;
        justify-content: right;
    }
    @media screen and (min-width: 1280px){
        width: 548px;
        margin-top: 32px;
    } 

}
.svg-icon{
    width: 32px;
    height: 32px;
    fill: #000000;

   & :hover, 
   & :focus{
   fill: #F3C653;
}
}
.hotel__btn-titel{
    text-decoration: none;
    border: none;
}
.hotel__btn{
    width: 236px;
    height: 48px;
    margin-bottom: 16px;
    background: #000000;
    border: none;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #F3C653;
    cursor: pointer;
    text-align: center;
}
.hotel__btn-titel :hover, 
.hotel__btn-titel :focus{
    background: #FFFFFF;
    border: 2px solid #F3C653;
}

.btn-list {
    @media screen and (min-width: 320px){
        align-items: center;
        justify-content: center;
        padding-top: 62px; 
    }
    @media screen and (min-width: 414px){
        align-items: center;
        justify-content: center;
        padding-top: 72px;
    }
    
    @media screen and (min-width: 1024px){
    width: 500px;
    flex-direction: column;
    flex: 0 0 50%;
    align-self: center;
    align-items: flex-end;
    display: flex;
    }
}
.wrapper{
    @media screen and (min-width: 320px){
        margin-top: 32px;
        text-align: center;
        align-items: center;
    }
    @media screen and (min-width: 1024px){
        display: flex;
        margin-top: 174px;
        justify-content: flex-end;
    }
    @media screen and (min-width: 1280px){
        margin-top: 188px;
    }
}