.double-room {
  padding: 32px 0;
  @include tablet {
    padding: 66px 0 48px;
  }
  @include desktop {
    padding-top: 72px;
  }
}
.hotel-about {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__subtitle {
    @media screen and (max-width: 413px) {
      font-size: 4.8vw;
    }
    margin-bottom: 8px;
    font-family: 'Times New Roman';
    @include font(20px, 23px, 400, 0.02em);
    color: getColor('secondary-title');

    @include tablet {
      font-size: 32px;
      line-height: calc(37 / 32);
      margin-bottom: 4px;
    }

    @include desktop {
    }
  }
  &__title {
    font-family: 'Times New Roman', serif;
    @include font(24px, 28px, 700, 0.05em);
    text-transform: uppercase;
    &--s {
      text-transform: lowercase;
    }
    margin-bottom: 12px;
    @media screen and (max-width: 413px) {
      font-size: 5.7vw;
    }
    @include tablet {
      font-size: 30px;
      line-height: calc(34 / 30);
      margin-bottom: 16px;
    }
    @include desktop {
      font-size: 36px;
      line-height: calc(41 / 36);
      margin-bottom: 24px;
    }
  }
  &__logo {
    @media screen and (max-width: 413px) {
      font-size: 9.6vw;
    }
    margin-bottom: 32px;
    font-family: 'Film P3';
    @include font(40px, 43px, 700, 0.3em);
    color: #494848;

    @include tablet {
      font-size: 64px;
      line-height: calc(69 / 64);
      margin-bottom: 62px;
    }

    @include desktop {
      margin-bottom: 72px;
    }
  }
  &__description {
    font-family: 'Montserrat', serif;
    width: 258px;
    @include font(12px, 15px, 600, 0.02em);
    color: #5f5f5f;
    @media screen and (max-width: 413px) {
      font-size: 3vw;
    }
    @include tablet {
      width: 439px;
      font-size: 16px;
      line-height: calc(20 / 16);
    }
    @include desktop {
      width: 400px;
    }
  }
  &__img {
    align-self: flex-end;
    background: #dadada;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    width: 244px;
    height: 322px;
    margin-bottom: 32px;
    @media screen and (max-width: 413px) {
      width: 59vw;
      height: auto;
    }
    @include tablet {
      width: 400px;
      height: 524px;
      margin-top: -98px;
      margin-bottom: 48px;
    }
    @include desktop {
      width: 460px;
      height: 574px;
    }
  }
}
.text-wraper {
  margin-bottom: 32px;
  @include tablet {
    flex: 0 0 50%;
    margin-bottom: 0;
  }
}
.button-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  .btn:first-child {
    margin-bottom: 16px;
  }
  @include tablet {
    padding-top: 48px;
    margin-top: 0;
  }
  @include desktop {
    padding-top: 64px;
  }
}
.content-wrap {
  @include tablet {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
  }
}
