<section class="amenities-room">
  <div class="container">
    <h2 class="amenities-title">Зручності у номері</h2>
    <p class="amenities-text amenities-text-bottom">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities-list">
      <li class="amenities-item">
        <h3 class="amenities-secondary-title">Загальні</h3>
        <div class="amenities-wrap">
          <p class="amenities-text amenities-text-tablet">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-text amenities-text-tablet">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-secondary-title">Ванна кімната</h3>
        <div class="amenities-wrap">
          <p class="amenities-text amenities-describe">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-text amenities-text-tablet amenities-second-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-secondary-title">Спальня</h3>
        <p class="amenities-text amenities-text-tablet">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-secondary-title">Кухня</h3>
        <div class="amenities-wrap">
          <p class="amenities-text amenities-text-tablet">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="amenities-text amenities-text-tablet">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities-item amenities-item-bottom">
        <h3 class="amenities-secondary-title">Медіа</h3>
        <p class="amenities-text amenities-text-tablet">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <button type="button" class="amenities-button js-open-modal" data-modal="1">
      Оформити бронування
    </button>
    <a href="./hotel.html" class="amenities-link"
      >Повернутися до перегляду номерів
      <svg class="amenities-icon">
        <use href="./images/sprite.svg#icon-cil_arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
