<section class="about-restaurant section">
    <div class="about container">
        <h2 class="visually-hidden">About kitchen</h2>
        <h4 class="about__header">Amet minim mollit non</h4>
        <h3 class="about__logo">MIMIHO</h3>
        <p class="about__title title">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis enim velit mollit. Exercitation veniam
            consequat sunt nostrud amet.
        </p>
        <picture class="about__picture">
            <source srcset="
            ./images/restaurantpage/kitchen-des.jpg 1x, 
            ./images/restaurantpage/kitchen-des-2x.jpg 2x" media="(min-width: 1280px)" />
            <source srcset="
          ./images/restaurantpage/kitchen-ipad.jpg    1x,
          ./images/restaurantpage/kitchen-ipad-2x.jpg 2x
        " media="(min-width: 1024px)" />
            <source srcset="
          ./images/restaurantpage/kitchen-iphone.jpg    1x,
          ./images/restaurantpage/kitchen-iphone-2x.jpg 2x
        " media="(min-width: 414px)" />
            <img class="about__image" src="./images/restaurantpage/kitchen-des.jpg" alt="kuchina" />
        </picture>
        <div class="thumb">
            <picture class="about__picture">
                <source srcset="
                ./images/restaurantpage/meat-des.jpg 1x, 
                ./images/restaurantpage/meat-des-2x.jpg 2x" media="(min-width: 1280px)" />
                <source srcset="
            ./images/restaurantpage/meat-ipad.jpg    1x,
            ./images/restaurantpage/meat-ipad-2x.jpg 2x
          " media="(min-width: 1024px)" />
                <source srcset="
            ./images/restaurantpage/meat-iphone.jpg    1x,
            ./images/restaurantpage/meat-iphone-2x.jpg 2x
          " media="(min-width: 414px)" />
                <img class="about__image--second" src="./images/restaurantpage/meat-des.jpg" alt="meat" />
            </picture>
            <p class="about__title--gold">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint. Velit officia consequat duis enim velit mollit. Exercitation
                veniam consequat sunt nostrud amet.
            </p>
        </div>
    </div>
</section>