<div class="exmpl container">

</div>

<section class="about-restaurant section">
    <div class="about container">
        <h2 class="visually-hidden">About restaurant</h2>
        <h4 class="about__header">Amet minim mollit non</h4>
        <h3 class="about__logo">MIMIHO</h3>
        <p class="about__title title">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis
            enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <picture class="about__picture">
            <source srcset="./images/about/kuchina.jpg 1x, ./images/about/kuchina@2x.jpg 2x"
                media="(min-width: 1280px)">
            <source srcset="./images/about/kuchina400.jpg 1x, ./images/about/kuchina400@2x.jpg 2x"
                media="(min-width: 1024px)">
            <source srcset="./images/about/kuchina244.jpg 1x, ./images/about/kuchina244@2x.jpg 2x"
                media="(min-width: 414px)">
            <img class="about__image" src="./images/about/kuchina.jpg" alt="kuchina">
        </picture>
        <div class="thumb">
            <picture class="about__picture">
                <source srcset="./images/about/meat.jpg 1x, ./images/about/meat@2x.jpg 2x" media="(min-width: 1280px)">
                <source srcset="./images/about/meat350.jpg 1x, ./images/about/meat350@2x.jpg 2x"
                    media="(min-width: 1024px)">
                <source srcset="./images/about/meat200.jpg 1x, ./images/about/meat200@2x.jpg 2x"
                    media="(min-width: 414px)">
                <img class="about__image--second" src="./images/about/meat.jpg" alt="meat">
            </picture>
            <p class="about__title--gold">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis
                enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div></div>
    </div>
</section>