<section class="hero restaurant-page">
  <div class="hero__container container">
    <div class="hero__box">
      <h1 class="hero__title">Mimiho</h1>
      <h2 class="hero__subtitle">Ресторан</h2>
      <p class="hero__description">СМАК ЖИТТЯ 24/7</p>
    </div>
    <div class="button-box">
      <button class="btn" type="button">Забронювати столик</button>
      <a href="#menu-price" class="btn">Переглянути меню</a>
    </div>
    <div class="hero__contacts">
      <div class="address-box">
        <a
          class="address-box__link"
          href="https://goo.gl/maps/XkBfc9FVBQZGHEfTA"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="address-box__icon icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Україна, м. Полтава, <br />вул. Маршала Бірюзова, 15
        </a>
      </div>
      <ul class="social-list">
        <li class="social-list__item">
          <a
            href="#"
            target="_blank"
            aria-label="Інстаграм"
            class="social-list__link"
          >
            <svg class="social-list__icon icon">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            href="#"
            target="_blank"
            aria-label="Фейсбук"
            class="social-list__link"
          >
            <svg class="social-list__icon icon">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            href="#"
            target="_blank"
            aria-label="Телеграм"
            class="social-list__link"
          >
            <svg class="social-list__icon icon">
              <use href="./images/sprite.svg#icon-telegram-plane"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
