<section class="menu">
     <div class="container menu_container">
          <h2 class="menu_title">Меню ресторану</h2>
     <div class="menu_wrap">
     <div class="menu_left">
     <table>
         <caption class="dishes_titl-hot">Гарячі страви</caption>
         <tr>
          <td class="dishes_wrap">
              <h3 class="dishes_name">Борщ з телятини з квасолею</h3>
             <p class="dishes_ingredients">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</p>
          </td>
          <td class="dishes_weight">400 г<span class="dishes_price">400 грн</span></td>
         </tr>
         <tr>
         <td class="dishes_wrap">
              <h3 class="dishes_name">Суп сирний з куркою</h3>
             <p class="dishes_ingredients">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</p>
             </td>
             <td class="dishes_weight">400 г<span class="dishes_price">200 грн</span></td>
            </tr>
            <tr>
         <td class="dishes_wrap">
              <h3 class="dishes_name">Паста карбонара</h3>
             <p class="dishes_ingredients">Паста тальятеле, бекон, вершки,сир пармезан, яйце, зелень</p>
             </td>
             <td class="dishes_weight">350 г<span class="dishes_price">430 грн</span></td>
            </tr>
         <tr>
         <td class="dishes_wrap">
              <h3 class="dishes_name">Стейк зі свинини</h3>
                 <p class="dishes_ingredients">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</p>
                 </td>
                 <td class="dishes_weight">400 г<span class="dishes_price">500 грн</span></td>
                </tr>
          <tr>
         <td class="dishes_wrap list">
             <h3 class="dishes_name">Горбуша в соусі з білого вина</h3>
             <p class="dishes_ingredients list">Ніжна горбуша, вершковий соус на основі білого вина</p>
             </td>
             <td class="dishes_weight">400 г<span class="dishes_price">400 грн</span></td>
             </tr>
     </table>
     <table>
         <caption class="dishes_title">Гарніри та закуски</caption>
         <tr>
          <td class="dishes_wrap">
              <h3 class="dishes_name">Запечені овочі</h3>
             <p class="dishes_ingredients">Кабачок, перець, помідор, баклажан</p>
          </td>
          <td class="dishes_weight">200 г<span class="dishes_price">230 грн</span></td>
         </tr>
         <tr>
         <td class="dishes_wrap">
              <h3 class="dishes_name">Картопля фрі</h3>
             <p class="dishes_ingredients">Картопля, соус томатний</p>
             </td>
             <td class="dishes_weight">150 г<span class="dishes_price-patatoes">160 грн</span></td>
            </tr>
            <tr>
         <td class="dishes_wrap">
              <h3 class="dishes_name">Картопля по-селянськи</h3>
             <p class="dishes_ingredients">Картопля, спеції, соус пікантний</p>
             </td>
             <td class="dishes_weight">150 г<span class="dishes_price-patatoes">160 грн</span></td>
            </tr>
         <tr>
         <td class="dishes_wrap">
              <h3 class="dishes_name">Хрумкі соління з бочки</h3>
                 <p class="dishes_ingredients">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</p>
                 </td>
                 <td class="dishes_weight">250 г<span class="dishes_price">500 грн</span></td>
                </tr>
          <tr>
         <td class="dishes_wrap list">
             <h3 class="dishes_name">Крильця курячі в медовому соусі</h3>
             <p class="dishes_ingredients list">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</p>
             </td>
             <td class="dishes_weight">400 г<span class="dishes_price">420 грн</span></td>
             </tr>
     </table></div>
     <div class="menu-right">
     <table>
         <caption class="dishes_title-salad">Салати</caption>
         <tr>
          <td class="dishes_wrap">
              <h3 class="dishes_name">Цезар з куркою</h3>
             <p class="dishes_ingredients">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
          </td>
          <td class="dishes_weight">230 г<span class="dishes_price">450 грн</span></td>
         </tr>
         <tr>
         <td class="dishes_wrap">
              <h3 class="dishes_name">Цезар з креветками</h3>
             <p class="dishes_ingredients">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
             </td>
             <td class="dishes_weight">230 г<span class="dishes_price">300 грн</span></td>
            </tr>
            <tr>
         <td class="dishes_wrap">
              <h3 class="dishes_name">Грецький салат</h3>
             <p class="dishes_ingredients">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</p>
             </td>
             <td class="dishes_weight">230 г<span class="dishes_price">280 грн</span></td>
            </tr>
         <tr>
         <td class="dishes_wrap list">
              <h3 class="dishes_name">М’ясний салат</h3>
                 <p class="dishes_ingredients list">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</p>
                 </td>
                 <td class="dishes_weight">230 г<span class="dishes_price">300 грн</span></td>
                </tr>
     </table>
     <table>
         <caption class="dishes_title">Десерти </caption>
         <tr>
          <td class="dessert_wrap">
              <h3 class="dessert_name food">Торт наполеон</h3>
          </td>
          <td class="dishes_weight food">230 г<span class="dishes_price">300 грн</span></td>
         </tr>
         <tr>
         <td class="dessert_wrap">
              <h3 class="dessert_name food">Торт маковий</h3>
             </td>
             <td class="dishes_weight food">230 г<span class="dishes_price">300 грн</span></td>
            </tr>
            <tr>
         <td class="dessert_wrap list">
              <h3 class="dessert_name">Тірамісу</h3>
             </td>
             <td class="dishes_weight food">120 г<span class="dishes_price-tiramisu">260 грн</span></td>
            </tr>
     </table>
     <table>
         <caption class="dishes_title">Напої </caption>
         <tr>
          <td class="drinks_wrap">
              <h3 class="drinks_name food">Чай чорний/зелений</h3>
          </td>
          <td class="dishes_weight food">500 мл<span class="drinks_price">100 грн</span></td>
         </tr>
         <tr>
         <td class="drinks_wrap">
              <h3 class="drinks_name food">Еспресо</h3>
             </td>
             <td class="dishes_weight food">30 мл<span class="drinks_price-espresso">100 грн</span></td>
            </tr>
            <tr>
         <td class="drinks_wrap">
              <h3 class="drinks_name food">Американо</h3>
             </td>
             <td class="dishes_weight food">150 мл<span class="drinks_price-americano">100 грн</span></td>
            </tr>
            <tr>
             <td class="drinks_wrap">
                  <h3 class="drinks_name food">Капучино</h3>
                 </td>
                 <td class="dishes_weight food">200 мл<span class="drinks_price">160 грн</span></td>
                </tr>
                <tr>
             <td class="drinks_wrap list">
                  <h3 class="drinks_name">Лате</h3>
                 </td>
                 <td class="dishes_weight list">200 мл<span class="drinks_price">160 грн</span></td>
                </tr>
     </table>
     </div>
     </div>
 <div class="button_wrap"><button class="btn button_menu btn--color-black" type="button">Забронювати столик</button></div>
     </div>
</section>