<section class="about-restaurant section">
    <div class="about container">
        <h2 class="visually-hidden">About restaurant</h2>
        <h4 class="about__header">Amet minim mollit non</h4>
        <h3 class="about__logo">MIMIHO</h3>
        <p class="about__title title">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis enim velit mollit. Exercitation veniam
            consequat sunt nostrud amet.
        </p>

        <picture class="about__picture">
            <source srcset="
                  ./images/homepage/about/rest/interior-des.jpg    1x,
                  ./images/homepage/about/rest/interior-des-2x.jpg 2x
                " media="(min-width: 1280px)" />
            <source srcset="
                  ./images/homepage/about/rest/interior-ipad.jpg    1x,
                  ./images/homepage/about/rest/interior-ipad-2x.jpg 2x
                " media="(min-width: 1024px)" />
            <source srcset="
                  ./images/homepage/about/rest/interior-iphone.jpg    1x,
                  ./images/homepage/about/rest/interior-iphone-2x.jpg 2x
                " media="(min-width: 414px)" />
            <img class="about__image" src="./images/homepage/about/rest/interior-des.jpg" alt="restaurant" />
        </picture>

        <div class="thumb">
            <picture class="about__picture ">
                <source srcset="
                ./images/homepage/about/rest/interior-2-des.jpg 1x, 
                ./images/homepage/about/rest/interior-2-des-2x.jpg 2x" media="(min-width: 1280px)" />
                <source srcset="
            ./images/homepage/about/rest/interior-2-ipad.jpg    1x,
            ./images/homepage/about/rest/interior-2-ipad-2x.jpg 2x
          " media="(min-width: 1024px)" />
                <source srcset="
            ./images/homepage/about/rest/interior-2-iphone.jpg    1x,
            ./images/homepage/about/rest/interior-2-iphone-2x.jpg 2x
          " media="(min-width: 414px)" />
                <img class="about__image--second" src="./images/homepage/about/rest/interior-2-des.jpg" alt="hall" />
            </picture>
            <p class="about__title--gold">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint. Velit officia consequat duis enim velit mollit. Exercitation
                veniam consequat sunt nostrud amet.
            </p>
        </div>
    </div>
</section>