<section class="about-restaurant section">
  <div class="about container">
    <h2 class="visually-hidden">About restaurant</h2>
    <h4 class="about__header">Amet minim mollit non</h4>
    <h3 class="about__logo">MIMIHO</h3>
    <p class="about__title title">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <picture class="about__picture">
      <source
        srcset="
          ./images/homepage/about/rest/interior-des.jpg    1x,
          ./images/homepage/about/rest/interior-des-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/homepage/about/rest/interior-ipad.jpg    1x,
          ./images/homepage/about/rest/interior-ipad-2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/homepage/about/rest/interior-iphone.jpg    1x,
          ./images/homepage/about/rest/interior-iphone-2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        class="about__image"
        src="./images/homepage/about/rest/interior-des.jpg"
        alt="restaurant"
      />
    </picture>

    <div class="thumb">
      <picture class="about__picture">
        <source
          srcset="
            ./images/homepage/about/rest/interior-2-des.jpg    1x,
            ./images/homepage/about/rest/interior-2-des-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/homepage/about/rest/interior-2-ipad.jpg    1x,
            ./images/homepage/about/rest/interior-2-ipad-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/homepage/about/rest/interior-2-iphone.jpg    1x,
            ./images/homepage/about/rest/interior-2-iphone-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          class="about__image--second"
          src="./images/homepage/about/rest/interior-2-des.jpg"
          alt="hall"
        />
      </picture>
      <p class="about__title--gold">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="slider-box u-m-right">
      <div class="swiper mini-slider-r">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/homepage/about/rest/table-des.jpg    1x,
                  ./images/homepage/about/rest/table-des-2x.jpg 2x
                "
                media="(min-width:1280px)"
                sizes="1280"
              />
              <source
                srcset="
                  ./images/homepage/about/rest/table-ipad.jpg    1x,
                  ./images/homepage/about/rest/table-ipad-2x.jpg 2x
                "
                media="(min-width: 1024px)"
                sizes="1024"
              />
              <img
                class="swiper__img"
                srcset="./images/homepage/about/rest/table-iphone-2x.jpg 2x"
                src="./images/homepage/about/rest/table-iphone.jpg"
                alt="готельно-ресторанний комплекс Міміно"
                width="414"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/homepage/about/rest/table-2-des.jpg    1x,
                  ./images/homepage/about/rest/table-2-des-2x.jpg 2x
                "
                media="(min-width:1280px)"
                sizes="1280"
              />
              <source
                srcset="
                  ./images/homepage/about/rest/table-2-ipad.jpg    1x,
                  ./images/homepage/about/rest/table-2-ipad-2x.jpg 2x
                "
                media="(min-width: 1024px)"
                sizes="1024"
              />
              <img
                class="swiper__img"
                srcset="./images/homepage/about/rest/table-2-iphone-2x.jpg 2x"
                src="./images/homepage/about/rest/table-2-iphone.jpg"
                alt="готельно-ресторанний комплекс Міміно"
                width="414"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/slider/desktop/foto7-desk-1x.jpg 1x,
                  ./images/slider/desktop/foto7-desk-2x.jpg 2x
                "
                media="(min-width:1280px)"
                sizes="1280"
              />
              <source
                srcset="
                  ./images/slider/tablet/foto7-tab-1x.jpg 1x,
                  ./images/slider/tablet/foto7-tab-2x.jpg 2x
                "
                media="(min-width: 1024px)"
                sizes="1024"
              />
              <img
                class="swiper__img"
                srcset="./images/slider/mobile/foto7-mob-2x.jpg 2x"
                src="./images/slider/mobile/foto7-mob-1x.jpg"
                alt="готельно-ресторанний комплекс Міміно"
                width="414"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/slider/desktop/foto15-desk-1x.jpg 1x,
                  ./images/slider/desktop/foto15-desk-2x.jpg 2x
                "
                media="(min-width:1280px)"
                sizes="1280"
              />
              <source
                srcset="
                  ./images/slider/tablet/foto15-tab-1x.jpg 1x,
                  ./images/slider/tablet/foto15-tab-2x.jpg 2x
                "
                media="(min-width: 1024px)"
                sizes="1024"
              />
              <img
                class="swiper__img"
                srcset="./images/slider/mobile/foto15-mob-2x.jpg 2x"
                src="./images/slider/mobile/foto15-mob-1x.jpg"
                alt="готельно-ресторанний комплекс Міміно"
                width="414"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-button__wraper u-right">
          <div class="swiper-button__prev">
            <svg class="swiper-button__icon icon-left">
              <use href="./images/sprite.svg#icon-cil_arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button__next">
            <svg class="swiper-button__icon icon-right">
              <use href="./images/sprite.svg#icon-cil_arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
