<section class="hotel">
  <div class="container">
    <article class="hotel__article">
      <p class="about__hotel_logotxt">mimiho</p>
      <h4 class="about__hotel_header">Готель</h4>
      <p class="about__hotel_subtxt">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
        officia
        consequat duis enim velit mollit.</p>

      <div class="button-box">
        <button class="btn" type="button">Забронювати столик</button>
        <button class="btn" type="button">Забронювати номер</button>
      </div>
    </article>
  </div>
</section>