<section class="about-hotel section ">
    <div class="about-reverse container">
        <div>
            <h2 class="visually-hidden">About hotel</h2>
            <h4 class="about-reverse__header">Amet minim mollit non</h4>
            <h3 class="about-reverse__logo">MIMIHO</h3>

            <p class="about-reverse__title title">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit mollit. Exercitation veniam
                consequat sunt nostrud amet.
            </p>
        </div>
        <picture class="about-reverse__picture">
            <source srcset="
          ./images/homepage/about/hotel/room-des.jpg    1x,
          ./images/homepage/about/hotel/room-des-2x.jpg 2x
        " media="(min-width: 1280px)" />
            <source srcset="
          ./images/homepage/about/hotel/room-ipad.jpg    1x,
          ./images/homepage/about/hotel/room-ipad-2x.jpg 2x
        " media="(min-width: 1024px)" />
            <source srcset="
         ./images/homepage/about/hotel/room-iphone.jpg    1x,
          ./images/homepage/about/hotel/room-iphone-2x.jpg 2x
        " media="(min-width: 414px)" />
            <img class="about-reverse__image" src="./images/homepage/about/hotel/room-des.jpg" alt="studio-bedroom" />
        </picture>

        <div class="thumb-reverse">
            <p class="about-reverse__title--gold">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint. Velit officia consequat duis enim velit mollit. Exercitation
                veniam consequat sunt nostrud amet.
            </p>
            <picture class="about-reverse__picture">
                <source srcset="
                ./images/homepage/about/hotel/hall-des.jpg 1x,
                ./images/homepage/about/hotel/hall-des-2x.jpg 2x" media="(min-width: 1280px)" />
                <source srcset="
            ./images/homepage/about/hotel/hall-ipad.jpg    1x,
            ./images/homepage/about/hotel/hall-ipad-2x.jpg 2x
          " media="(min-width: 1024px)" />
                <source srcset="
            ./images/homepage/about/hotel/hall-iphone.jpg    1x,
            ./images/homepage/about/hotel/hall-iphone-2x.jpg 2x
          " media="(min-width: 414px)" />
                <img class="about-reverse__image--second" src="./images/homepage/about/hotel/hall-des.jpg"
                    alt="hotel" />
            </picture>
        </div>
    </div>
</section>