<div class="exmpl container">

</div>
<section class="about-hotel section">
    <div class="about-reverse container">

        <h2 class="visually-hidden">About restaurant</h2>
        <h4 class="about-reverse__header">Amet minim mollit non</h4>
        <h3 class="about-reverse__logo">MIMIHO</h3>

        <p class="about-reverse__title title">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis
            enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <picture class="about-reverse__picture">
            <source srcset="./images/about/studio-bedroom.jpg 1x, ./images/about/studio-bedroom@2x.jpg 2x"
                media="(min-width: 1280px)">
            <source srcset="./images/about/studio-bedroom400.jpg 1x, ./images/about/studio-bedroom400@2x.jpg 2x"
                media="(min-width: 1024px)">
            <source srcset="./images/about/studio-bedroom244.jpg 1x, ./images/about/studio-bedroom244@2x.jpg 2x"
                media="(min-width: 414px)">
            <img class="about-reverse__image" src="./images/about/studio-bedroom.jpg" alt="studio-bedroom">
        </picture>

        <div class="thumb-reverse">
            <p class="about-reverse__title--gold">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint.
                Velit officia consequat duis
                enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <picture class="about-reverse__picture">
                <source srcset="./images/about/hotel.jpg 1x, ./images/about/hotel@2x.jpg 2x"
                    media="(min-width: 1280px)">
                <source srcset="./images/about/hotel350.jpg 1x, ./images/about/hotel350@2x.jpg 2x"
                    media="(min-width: 1024px)">
                <source srcset="./images/about/hotel200.jpg 1x, ./images/about/hotel200@2x.jpg 2x"
                    media="(min-width: 414px)">
                <img class="about-reverse__image--second" src="./images/about/hotel.jpg" alt="hotel">
            </picture>

        </div>
        <div></div>
    </div>
</section>