<section class="restaurant">
  <div class="container restaurant__container">
    <article class="restaurant__article">
      <div class="button-box restaurant-box">
        <button class="btn restaurant__btn js-open-modal" data-modal="1" type="button">
          Забронювати номер
        </button>
        <a href="./hotel.html" class="restaurant__link link btn" type="button">Переглянути ціни</a>
      </div>
      <p class="details__restaurant_logotxt logo-page logo-page--color-white">
        mimiho
      </p>
      <div class="restaurant__wrapper">

        <h4 class="details__restaurant_header">Готель</h4>
        <p class="details__restaurant_subtxt">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

    </article>
  </div>
</section>