<section class="hotel">
  <div class="container hotel__container">
    <article class="hotel__article">
      <p class="details__hotel_logotxt logo-page logo-page--color-white">
        mimiho
      </p>
      <div class="hotel__wrapper">

        <h4 class="details__hotel_header">Готель</h4>
        <p class="details__hotel_subtxt">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>


      <div class="button-box hotel-box">
        <button class="btn hotel__btn js-open-modal" data-modal="1" type="button">
          Забронювати номер
        </button>
        <a href="./hotel.html" class="hotel__link link btn" type="button">Переглянути ціни</a>
      </div>
    </article>
  </div>
</section>