<section class="hotel">
  <div class="container">
    <article class="hotel__article">
      <div class="hotel__wrapper">
        <p class="about__hotel_logotxt logo-page logo-page--color-white">
          mimiho
        </p>
        <h4 class="about__hotel_header">Готель</h4>
        <p class="about__hotel_subtxt">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <div class="button-box hotel-box">
        <button
          class="btn hotel__btn js-open-modal"
          data-modal="1"
          type="button"
        >
          Забронювати номер
        </button>
        <a href="./hotel.html" class="hotel__link link btn" type="button"
          >Переглянути ціни</a
        >
      </div>
    </article>
  </div>
</section>
