<section class="hotel">
  <div class="container hotel__container">
    <article class="hotel__article">
      <p class="details__hotel_logotxt logo-page logo-page--color-white">
        mimiho
      </p>
      <div class="hotel__wrapper">
        <h4 class="details__hotel_header">Готель</h4>
        <p class="details__hotel_subtxt">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>
      <div class="box-slider-button">
        <!--SLIDER FOR MAINPAGE DETAIL HOTEL -->
        <div class="slider-wrap">
          <div class="swiper slider-3">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper m-left">
              <!-- Slides -->
              <div class="swiper-slide">
                <picture>
                  <img
                    class="swiper__img"
                    srcset="./images/homepage/details/hotel/room-des-2x.jpg 2x"
                    src="./images/homepage/details/hotel/room-des.jpg"
                    alt="готельно-ресторанний комплекс Міміно"
                    width="270"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./images/homepage/details/hotel/breakfast-des.jpg    1x,
                      ./images/homepage/details/hotel/breakfast-des-2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <img
                    class="swiper__img"
                    srcset="
                      ./images/homepage/details/hotel/breakfast-iphone-2x.jpg 2x
                    "
                    src="./images/homepage/details/hotel/breakfast-iphone.jpg"
                    alt="готельно-ресторанний комплекс Міміно"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./images/homepage/details/hotel/registr-des.jpg    1x,
                      ./images/homepage/details/hotel/registr-des-2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/homepage/details/hotel/registr-ipad.jpg    1x,
                      ./images/homepage/details/hotel/registr-ipad-2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <img
                    class="swiper__img"
                    srcset="
                      ./images/homepage/details/hotel/registr-des-2x.jpg 2x
                    "
                    src="./images/homepage/details/hotel/registr-des.jpg"
                    alt="готельно-ресторанний комплекс Міміно"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <img
                    class="swiper__img"
                    srcset="./images/homepage/details/hotel/room-des-2x.jpg 2x"
                    src="./images/homepage/details/hotel/room-des.jpg"
                    alt="готельно-ресторанний комплекс Міміно"
                    width="270"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./images/homepage/details/hotel/breakfast-des.jpg    1x,
                      ./images/homepage/details/hotel/breakfast-des-2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <img
                    class="swiper__img"
                    srcset="
                      ./images/homepage/details/hotel/breakfast-iphone-2x.jpg 2x
                    "
                    src="./images/homepage/details/hotel/breakfast-iphone.jpg"
                    alt="готельно-ресторанний комплекс Міміно"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./images/homepage/details/hotel/registr-des.jpg    1x,
                      ./images/homepage/details/hotel/registr-des-2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/homepage/details/hotel/registr-ipad.jpg    1x,
                      ./images/homepage/details/hotel/registr-ipad-2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <img
                    class="swiper__img"
                    srcset="
                      ./images/homepage/details/hotel/registr-des-2x.jpg 2x
                    "
                    src="./images/homepage/details/hotel/registr-des.jpg"
                    alt="готельно-ресторанний комплекс Міміно"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-button__wraper u-right">
              <div class="swiper-button__prev">
                <svg class="swiper-button__icon icon-left u-white">
                  <use href="./images/sprite.svg#icon-cil_arrow-left"></use>
                </svg>
              </div>
              <div class="swiper-button__next">
                <svg class="swiper-button__icon icon-right u-white">
                  <use href="./images/sprite.svg#icon-cil_arrow-right"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="button-box hotel-box">
          <button
            class="btn hotel__btn js-open-modal"
            data-modal="1"
            type="button"
          >
            Забронювати номер
          </button>
          <a href="./hotel.html" class="hotel__link link btn"
            >Переглянути ціни</a
          >
        </div>
      </div>
    </article>
  </div>
</section>
