.about-hotel {
    padding-top: 18px;
    background-color: #FFFDEE;
}

.about-reverse {

    justify-content: center;
    z-index: 0;




    @media screen and (min-width: 1024px) {
        & {
            display: flex;
            flex-direction: column;
        }
    }



    &__header {
        font-family: $times-font;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.15;
        color: #B4B4B4;

        margin-left: 194px;
        min-width: 190px;


        @media screen and (min-width: 1024px) {
            & {
                font-size: 32px;
                line-height: 1.15;
                margin-left: 623px;
                margin-top: 102px;

            }
        }

        @media screen and (min-width: 1280px) {
            & {
                margin-left: 806px;
            }
        }


    }

    &__logo {
        font-family: $film-font;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.07;
        letter-spacing: 0.3em;
        color: #494848;
        margin-top: 6px;
        margin-left: 257px;


        @media screen and (min-width: 1024px) {
            & {
                font-size: 64px;
                margin-top: 4px;
                margin-left: 726px;


            }
        }

        @media screen and (min-width: 1280px) {
            & {
                margin-left: 908px;
            }
        }


    }


    &__title {

        font-family: $montserrat-font;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #5F5F5F;
        min-width: 258px;
        margin-top: 16px;
        margin-left: 143px;


        @media screen and (min-width: 1024px) {
            & {
                font-size: 16px;
                max-width: 439px;
                margin-left: 511px;
                margin-top: 24px;


            }
        }

        @media screen and (min-width: 1280px) {
            & {
                max-width: 518px;
                margin-left: 622px;
            }
        }


        &--gold {
            font-family: $montserrat-font;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 1.25;
            letter-spacing: 0.02em;
            color: #C79002;
            max-width: 163px;
            margin-top: 102px;


            @media screen and (min-width: 1024px) {
                & {
                    font-size: 16px;
                    max-width: 312px;
                    margin-left: 220px;
                    margin-top: 172px;
                }
            }

            @media screen and (min-width: 1280px) {
                & {
                    margin-left: 294px;
                    margin-top: 123px;
                }
            }
        }
    }

}


.about-reverse__image {

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin-top: 28px;

    @media screen and (min-width: 1024px) {
        & {
            z-index: 1;
            margin-left: 14px;
            margin-top: -359px;


        }
    }

    @media screen and (min-width: 1280px) {
        & {
            margin-left: 95px;
            margin-top: -359px;
        }
    }


    &--second {

        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin-top: 32px;
        margin-left: 21px;

        @media screen and (min-width: 1024px) {
            & {
                margin-left: 48px;
                margin-top: -24px;
            }
        }

        @media screen and (min-width: 1280px) {
            & {
                margin-top: -46px;
                margin-left: 45px;
            }
        }
    }
}

.thumb-reverse {
    display: flex;

}