


.about-hotel {
    padding-top: 18px;
    background-color: #FFFDEE;
}

.about-reverse {

    justify-content: center;
    z-index: 0;




    @media screen and (min-width: 1024px) {
        & {
            display: flex;
            flex-direction: column;
        }
    }



    &__header {
        font-family: 'TimesNewRoman',
            'sans-serif';
        font-weight: 400;
        font-size: 20px;
        line-height: 1.15;
        color: #B4B4B4;

        margin-left: 194px;
        min-width: 190px;

        @media screen and (max-width: 413px) {
                & {
                   margin-left: auto;
                 text-align: end;
                    font-size: 5vw;
                   
        
                }
            }


        @media screen and (min-width: 1024px) {
            & {
                font-size: 32px;
                line-height: 1.15;
                margin-left: 623px;
                margin-top: 102px;

            }
        }

        @media screen and (min-width: 1280px) {
            & {
                margin-left: 806px;
            }
        }


    }

    &__logo {
        font-family: 'Film P3',
            'sans-serif';
        font-weight: 700;
        font-size: 40px;
        line-height: 1.07;
        letter-spacing: 0.3em;
        color: #494848;
        margin-top: 6px;
        margin-left: 257px;

        @media screen and (max-width: 413px) {
                & {
                    margin-left: auto;
                   text-align: end;
                   width: 127px;
                font-size: 10vw;
                   
        
                }
            }


        @media screen and (min-width: 1024px) {
            & {
                font-size: 64px;
                margin-top: 4px;
                margin-left: 726px;


            }
        }

        @media screen and (min-width: 1280px) {
            & {
                margin-left: 908px;
            }
        }


    }


    &__title {

        font-family: 'Montserrat',
            'sans-serif';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #5F5F5F;
        max-width: 242px;
        margin-top: 16px;
        margin-left: 143px;

        @media screen and (max-width: 413px) {
                & {
                    width: 58vw;
                    font-size: 3vw;
                    margin-left: auto;
                  
                }
            }

        @media screen and (min-width: 1024px) {
            & {
                font-size: 16px;
                max-width: 439px;
                margin-left: 511px;
                margin-top: 24px;


            }
        }

        @media screen and (min-width: 1280px) {
            & {
                max-width: 518px;
                margin-left: 622px;
            }
        }


        &--gold {
            font-family: 'Montserrat',
                'sans-serif';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 1.25;
            letter-spacing: 0.02em;
            color: #C79002;
            max-width: 163px;
            margin-top: 102px;

            @media screen and (max-width: 413px) {
                    & {
                        width: 39vw;
                        margin-top: 10vh;
                        font-size: 3vw;
                        height: 120px;
                        
                    }
                }


            @media screen and (min-width: 1024px) {
                & {
                    font-size: 16px;
                    max-width: 312px;
                    margin-left: 220px;
                    margin-top: 172px;
                }
            }

            @media screen and (min-width: 1280px) {
                & {
                    margin-left: 294px;
                    margin-top: 123px;
                }
            }
        }
    }

}


.about-reverse__image {

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin-top: 28px;

    @media screen and (max-width: 413px) {
        & {
            width: 59vw;
        }
    }

    @media screen and (min-width: 1024px) {
        & {
            z-index: 1;
            margin-left: 14px;
            margin-top: -359px;


        }
    }

    @media screen and (min-width: 1280px) {
        & {
            margin-left: 95px;
            margin-top: -359px;
        }
    }


    &--second {

        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin-top: 32px;
        margin-left: 21px;

        @media screen and (max-width: 413px) {
                & {
                    width: 48vw;
                    margin-left: 3vw;
                }
            }

        @media screen and (min-width: 1024px) {
            & {
                margin-left: 48px;
                margin-top: -24px;
            }
        }

        @media screen and (min-width: 1280px) {
            & {
                margin-top: -46px;
                margin-left: 45px;
            }
        }
    }
}

.thumb-reverse {
    display: flex;

}

.btn-hotel{
    font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: getColor('accent-color');
        min-width: 236px;
        padding: 12px 22px;
        background: rgba(0, 0, 0, 0.4);
        border: 2px solid #ffffff;
        border-radius: 25px;
        cursor: pointer;
        overflow: hidden;
        transform: translate(0);
    
        @include tablet {
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &::before{
            content: "";
            position: absolute;
            background-color: #ffffff;
            width: 8px;
            top: 0;
            bottom: 0;
            left: -32px;
            transform: rotate(-16deg);
            filter: blur(6px);

        }
    
        &:hover::before,
        &:focus::before {
            left: calc(100% + 32px);
            transition: 1s;
        }
    }

