<div class="overlay js-overlay-modal"></div>
<div class="modal modal-room" data-modal="1">
  <button type="button" class="modal-close modal__cross js-modal-close">
    <svg width="24" height="24" class="modal-room-icon">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <h2 class="modal-room-title">Забронювати номер</h2>
  <form class="modal-room-form">
    <div class="room-intut-wrap">
      <div class="room-label-wrap">
        <label>
          <input
            type="text"
            name="user-name"
            class="modal-room-input"
            placeholder="Ваше ім’я"
            required
          /><span class="modal-room-text"
            >На кого забронювати номер?</span
          ></label
        >
      </div>
      <div class="room-label-wrap">
        <label>
          <input
            type="tel"
            name="user-tel"
            class="modal-room-input"
            placeholder="+38 (___) ___-__-__"
            pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
            required
          /><span class="modal-room-text">Номер телефону</span></label
        >
      </div>
    </div>

    <div class="room-label-wrap room-wrap-right">
      <label class="room-label">
        <select name="nomer" class="room-select room-select-right">
          <option value="double-luxe" class="double-luxe-nomer">
            Двомісний люкс
          </option>
          <option value="triple" class="option">Трьохмісний номер</option>
          <option value="double">Двомісний номер</option></select
        ><span class="modal-room-text">Категорія номеру</span></label
      >
    </div>
    <div class="room-select-wpap">
      <div class="room-label-wrap">
        <label class="room-label">
          <select name="date" class="room-select">
            <optgroup label="Цей тиждень">
              <option value="today">Сьогодні</option>
              <option value="today">ПН</option>
              <option value="today">ВТ</option>
              <option value="today">СР</option>
              <option value="today">ЧТ</option>
              <option value="today">ПТ</option>
              <option value="today">СБ</option>
              <option value="today">НД</option>
            </optgroup>
            <optgroup label="Наступний місяць">
              <option value="today">січень</option>
              <option value="today">лютий</option>
              <option value="today">березень</option>
              <option value="today">квітень</option>
              <option value="today">травень</option>
              <option value="today">червень</option>
              <option value="today">липень</option>
              <option value="today">серпень</option>
              <option value="today">вересень</option>
              <option value="today">жовтень</option>
              <option value="today">листопад</option>
              <option value="today">грудень</option>
            </optgroup></select
          ><span class="modal-room-text">Дата заїзду</span></label
        >
      </div>
      <div class="room-label-wrap room-wrap-bottom">
        <label class="room-label">
          <select name="date" class="room-select">
            <optgroup label="Цей тиждень">
              <option value="today">Сьогодні</option>
              <option value="today">ПН</option>
              <option value="today">ВТ</option>
              <option value="today">СР</option>
              <option value="today">ЧТ</option>
              <option value="today">ПТ</option>
              <option value="today">СБ</option>
              <option value="today">НД</option>
            </optgroup>
            <optgroup label="Наступний місяць">
              <option value="today">січень</option>
              <option value="today">лютий</option>
              <option value="today">березень</option>
              <option value="today">квітень</option>
              <option value="today">травень</option>
              <option value="today">червень</option>
              <option value="today">липень</option>
              <option value="today">серпень</option>
              <option value="today">вересень</option>
              <option value="today">жовтень</option>
              <option value="today">листопад</option>
              <option value="today">грудень</option>
            </optgroup></select
          ><span class="modal-room-text">Дата заїзду</span></label
        >
      </div>
    </div>

    <button type="submit" class="btn-modal-room btn--color-black">
      Оформити бронування
    </button>
  </form>
</div>
