<footer class="footer">
  <div class="container footer__container">
    <a href="./index.html" class="footer__logo link">mimiho</a>
    <div class="footer__wrapper">

      <ul class="footer__list list link mb">
        <li class="footer__item"><a href="./index.html" class="footer__link link">Головна</a></li>

        <li class="footer__item"><a href="./restaurant.html" class="footer__link link">Ресторан</a></li>

        <li class="footer__item"><a href="./hotel.html" class="footer__link link">Готель</a></li>
      </ul>

      <ul class="footer__social list ml">

        <li class="social__item"><a href="https://web.telegram.org/z/" class="social__link link" target="_blank"
            rel="noreferrer noopener nofollow">Telegram
            <svg class="icon-instagram icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-telegram-plane"></use>
            </svg>
          </a>
        </li>

        <li class="social__item"><a href="https://www.facebook.com/" class="social__link link" target="_blank"
            rel="noreferrer noopener nofollow">Facebook
            <svg class="icon-instagram icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="https://www.instagram.com/accounts/login/" class="social__link link" target="_blank"
            rel="noreferrer noopener nofollow">Instagram
            <svg class="icon-instagram icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>

      <!-- Для мобильного меню -->
      <ul class="footer__social--mobile list">
        <li class="social__item--mobile"><a href="#" class="social__link--mobile link" target="_blank"
            rel="noreferrer noopener nofollow">
            <svg class="icon-instagram icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="social__item--mobile"><a href="#" class="social__link--mobile link" target="_blank"
            rel="noreferrer noopener nofollow">
            <svg class="icon-instagram icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li class="social__item--mobile"><a href="#" class="social__link--mobile link" target="_blank"
            rel="noreferrer noopener nofollow">
            <svg class="icon-instagram icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-telegram-plane"></use>
            </svg>
          </a>
        </li>
      </ul>

    </div>

  </div>
</footer>