<header class="page-header">
  <div class="container">
    <a href="index.html" class="logo" aria-label="Міміно">Mimiho</a>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="./restaurant.html" class="navigation__link"> Ресторан </a>
        </li>
        <li class="navigation__item">
          <a href="tel:0955559533" class="navigation__link">
            <svg class="navigation__icon icon">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>
            <span class="navigation__number">095 555 95 33</span>
          </a>
        </li>
        <li class="navigation__item">
          <a href="./hotel.html" class="navigation__link"> Готель </a>
        </li>
        <li class="navigation__item">
          <a href="tel:0668491089" class="navigation__link">
            <svg class="navigation__icon icon">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>
            <span class="navigation__number">066 849 10 89</span>
          </a>
          <a href="tel:0672758540" class="navigation__link">
            <span class="navigation__number">067 275 85 40</span>
          </a>
        </li>
      </ul>
      <ul class="social-list">
        <li class="social-list__item">
          <a
            href="#"
            target="_blank"
            aria-label="Інстаграм"
            class="social-list__link"
          >
            <svg class="social-list__icon icon">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            href="#"
            target="_blank"
            aria-label="Фейсбук"
            class="social-list__link"
          >
            <svg class="social-list__icon icon">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            href="#"
            target="_blank"
            aria-label="Телеграм"
            class="social-list__link"
          >
            <svg class="social-list__icon icon">
              <use href="./images/sprite.svg#icon-telegram-plane"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
