<header class="header">
  <div class="container header-container">
    <a class="logotype link" href="./index.html">MIMINO</a>
    <nav class="link-navigation">
      <ul class="navigation-list list">
        <div class="phone-restaurant-cover">
          <li>
            <a class="nav-link link" href="./restaurant.html"
              >Ресторан
              <svg class="phone-icon-mobile" width="12" height="20">
                <use href="./images/sprite.svg#icon-phone"></use>
              </svg>
            </a>
          </li>
          <li class="phone-box">
            <span class="phone-box-wrap">
              <a class="phone-navigation-link link" href="tel:+380955559533">
                <svg class="phone-icon" width="12" height="20">
                  <use href="./images/sprite.svg#icon-phone"></use>
                </svg>
                095 555 95 33
              </a>
            </span>
          </li>
        </div>
        <div class="phone-hotel-cover">
          <li>
            <a class="nav-link link" href="./hotel.html"
              >Готель
              <svg class="phone-icon-mobile" width="12" height="20">
                <use href="./images/sprite.svg#icon-phone"></use>
              </svg>
            </a>
          </li>
          <li class="phone-box">
            <span class="phone-box-wrap">
              <a class="phone-navigation-link link" href="tel:+380668491089">
                <svg class="phone-icon" width="12" height="20">
                  <use href="./images/sprite.svg#icon-phone"></use>
                </svg>
                066 849 10 89
              </a>
              <a class="phone-additional-link link" href="tel:+380672758540">
                067 275 85 40
              </a>
            </span>
          </li>
        </div>
      </ul>
    </nav>
    <div class="contacts-social">
      <ul class="contacts-social-list list">
        <li>
          <a
            class="contacts-social-link link"
            href="https://www.instagram.com/"
            target="_blank"
          >
            <svg class="web-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="mimino-icon"
            href="https://www.facebook.com/"
            target="_blank"
          >
            <svg class="web-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="mimino-icon" href="https://twitter.com/" target="_blank">
            <svg class="web-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-telegram-plane"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
