<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a class="header-logo link" href="./index.html">MIMIHO</a>

      <ul class="navigation-list list">
        <li class="navi-item">
          <a class="navi-item-link link" href="./restaurant.html"
            >Ресторан
            <svg class="phone-icon-mobile" width="24" height="24">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>
          </a>

          <a class="phone-navigation-link link" href="tel:+380955559533">
            <svg class="phone-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>
            095 555 95 33
          </a>
        </li>

        <li class="navi-item">
          <a class="navi-item-link link" href="./hotel.html"
            >Готель
            <svg class="phone-icon-mobile" width="24" height="24">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>
          </a>

          <span class="phone-wrap">
            <a class="phone-double-link link" href="tel:+3800668491089">
              <svg class="phone-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-phone"></use>
              </svg>
              066 849 10 89
            </a>
            <a
              class="phone-double-link additional link"
              href="tel:+3800672758540"
            >
              067 275 85 40
            </a>
          </span>
        </li>
      </ul>
    </nav>

    <div class="contacts-social">
      <ul class="contacts-social-list list">
        <li>
          <a
            class="contacts-social-link link"
            href="https://www.instagram.com/"
            target="_blank"
          >
            <svg class="web-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="contacts-social-link link"
            href="https://www.facebook.com/"
            target="_blank"
          >
            <svg class="web-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="contacts-social-link link"
            href="https://telegram.org/"
            target="_blank"
          >
            <svg class="web-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-telegram-plane"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
