<div class="slider-box" style="display: none">
  <div class="swiper mini-slider-1">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/homepage/about/hotel/registr-des.jpg    1x,
              ./images/homepage/about/hotel/registr-des-2x.jpg 2x
            "
            media="(min-width:1280px)"
            sizes="1280"
          />
          <source
            srcset="
              ./images/homepage/about/hotel/registr-ipad.jpg    1x,
              ./images/homepage/about/hotel/registr-ipad-2x.jpg 2x
            "
            media="(min-width: 1024px)"
            sizes="1024"
          />
          <img
            class="swiper__img"
            srcset="./images/homepage/about/hotel/registr-iphone-2x.jpg 2x"
            src="./images/homepage/about/hotel/registr-iphone.jpg"
            alt="готельно-ресторанний комплекс Міміно"
            width="414"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/homepage/about/hotel/decor-des.jpg    1x,
              ./images/homepage/about/hotel/decor-des-2x.jpg 2x
            "
            media="(min-width:1280px)"
            sizes="1280"
          />
          <source
            srcset="
              ./images/homepage/about/hotel/decor-ipad.jpg    1x,
              ./images/homepage/about/hotel/decor-ipad-2x.jpg 2x
            "
            media="(min-width: 1024px)"
            sizes="1024"
          />
          <img
            class="swiper__img"
            srcset="./images/homepage/about/hotel/decor-iphone-2x.jpg 2x"
            src="./images/homepage/about/hotel/decor-iphone.jpg"
            alt="готельно-ресторанний комплекс Міміно"
            width="414"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/homepage/about/hotel/registr-des.jpg    1x,
              ./images/homepage/about/hotel/registr-des-2x.jpg 2x
            "
            media="(min-width:1280px)"
            sizes="1280"
          />
          <source
            srcset="
              ./images/homepage/about/hotel/registr-ipad.jpg    1x,
              ./images/homepage/about/hotel/registr-ipad-2x.jpg 2x
            "
            media="(min-width: 1024px)"
            sizes="1024"
          />
          <img
            class="swiper__img"
            srcset="./images/homepage/about/hotel/registr-iphone-2x.jpg 2x"
            src="./images/homepage/about/hotel/registr-iphone.jpg"
            alt="готельно-ресторанний комплекс Міміно"
            width="414"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/homepage/about/hotel/decor-des.jpg    1x,
              ./images/homepage/about/hotel/decor-des-2x.jpg 2x
            "
            media="(min-width:1280px)"
            sizes="1280"
          />
          <source
            srcset="
              ./images/homepage/about/hotel/decor-ipad.jpg    1x,
              ./images/homepage/about/hotel/decor-ipad-2x.jpg 2x
            "
            media="(min-width: 1024px)"
            sizes="1024"
          />
          <img
            class="swiper__img"
            srcset="./images/homepage/about/hotel/decor-iphone-2x.jpg 2x"
            src="./images/homepage/about/hotel/decor-iphone.jpg"
            alt="готельно-ресторанний комплекс Міміно"
            width="414"
          />
        </picture>
      </div>
    </div>
    <div class="swiper-button__wraper">
      <div class="swiper-button__prev">
        <svg class="swiper-button__icon icon-left">
          <use href="./images/sprite.svg#icon-cil_arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button__next">
        <svg class="swiper-button__icon icon-right">
          <use href="./images/sprite.svg#icon-cil_arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</div>

<!--SLIDER FOR MAINPAGE DETAIL HOTEL -->
<div class="slider-wrap" style="display: none">
  <div class="swiper slider-3">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper m-left">
      <!-- Slides -->
      <div class="swiper-slide">
        <picture>
          <img
            class="swiper__img"
            srcset="./images/homepage/details/hotel/room-des-2x.jpg 2x"
            src="./images/homepage/details/hotel/room-des.jpg"
            alt="готельно-ресторанний комплекс Міміно"
            width="270"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/homepage/details/hotel/breakfast-des.jpg    1x,
              ./images/homepage/details/hotel/breakfast-des-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            class="swiper__img"
            srcset="./images/homepage/details/hotel/breakfast-iphone-2x.jpg 2x"
            src="./images/homepage/details/hotel/breakfast-iphone.jpg"
            alt="готельно-ресторанний комплекс Міміно"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/homepage/details/hotel/registr-des.jpg    1x,
              ./images/homepage/details/hotel/registr-des-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/homepage/details/hotel/registr-ipad.jpg    1x,
              ./images/homepage/details/hotel/registr-ipad-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            class="swiper__img"
            srcset="./images/homepage/details/hotel/registr-des-2x.jpg 2x"
            src="./images/homepage/details/hotel/registr-des.jpg"
            alt="готельно-ресторанний комплекс Міміно"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <img
            class="swiper__img"
            srcset="./images/homepage/details/hotel/room-des-2x.jpg 2x"
            src="./images/homepage/details/hotel/room-des.jpg"
            alt="готельно-ресторанний комплекс Міміно"
            width="270"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/homepage/details/hotel/breakfast-des.jpg    1x,
              ./images/homepage/details/hotel/breakfast-des-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            class="swiper__img"
            srcset="./images/homepage/details/hotel/breakfast-iphone-2x.jpg 2x"
            src="./images/homepage/details/hotel/breakfast-iphone.jpg"
            alt="готельно-ресторанний комплекс Міміно"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/homepage/details/hotel/registr-des.jpg    1x,
              ./images/homepage/details/hotel/registr-des-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/homepage/details/hotel/registr-ipad.jpg    1x,
              ./images/homepage/details/hotel/registr-ipad-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            class="swiper__img"
            srcset="./images/homepage/details/hotel/registr-des-2x.jpg 2x"
            src="./images/homepage/details/hotel/registr-des.jpg"
            alt="готельно-ресторанний комплекс Міміно"
          />
        </picture>
      </div>
    </div>
    <div class="swiper-button__wraper u-right">
      <div class="swiper-button__prev">
        <svg class="swiper-button__icon icon-left u-white">
          <use href="./images/sprite.svg#icon-cil_arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button__next">
        <svg class="swiper-button__icon icon-right u-white">
          <use href="./images/sprite.svg#icon-cil_arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</div>

<!--SLIDER FOR MAINPAGE DETAIL RESTAURANT -->
<div class="slider-wrap m-right">
  <div class="swiper slider-3-r">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <picture>
          <img
            class="swiper__img"
            srcset="./images/homepage/details/rest/steak-des-2x.jpg 2x"
            src="./images/homepage/details/rest/steak-des.jpg"
            alt="готельно-ресторанний комплекс Міміно"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/homepage/details/rest/kebab-ipad.jpg    1x,
              ./images/homepage/details/rest/kebab-ipad-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            class="swiper__img"
            srcset="./images/homepage/details/rest/kebab-iphone-2x.jpg 2x"
            src="./images/homepage/details/rest/kebab-iphone.jpg"
            alt="готельно-ресторанний комплекс Міміно"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/homepage/details/rest/dish-des.jpg    1x,
              ./images/homepage/details/rest/dish-des-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/homepage/details/rest/dish-ipad.jpg    1x,
              ./images/homepage/details/rest/dish-ipad-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            class="swiper__img"
            srcset="./images/homepage/details/rest/dish-des-2x.jpg 2x"
            src="./images/homepage/details/rest/dish-des.jpg"
            alt="готельно-ресторанний комплекс Міміно"
          />
        </picture>
      </div>
    </div>
    <div class="swiper-button__wraper">
      <div class="swiper-button__prev">
        <svg class="swiper-button__icon icon-left u-white">
          <use href="./images/sprite.svg#icon-cil_arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button__next">
        <svg class="swiper-button__icon icon-right u-white">
          <use href="./images/sprite.svg#icon-cil_arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
