<div class="swiper mini-slider-1">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="./images/homepage/about/hotel/decor-iphone.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="./images/homepage/about/hotel/registr-iphone.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="./images/homepage/about/hotel/decor-iphone.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="./images/homepage/about/hotel/registr-iphone.jpg" />
    </div>
  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev">
    <svg>
      <use href="../images/"></use>
    </svg>
  </div>
  <div class="swiper-button-next"></div>
</div>
