<section class="double-luxe">
    <div class="container double-luxe__wrapper">
      <div class="hotel-about">
      <h3 class="hotel__item-titel">Amet minim mollit non</h3>
      <p class="logo-page">MIMIHO</p>
      <h2 class="hotel__room item">ДВОМІСНИЙ НОМЕР люкс</h2>
      <p class="hotel__about item">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <picture>
      <source
            media="(min-width: 1280px)"
             srcset="
              ./images/hotelpage/desktop/bedroom.jpg 1x,
              ./images/hotelpage/desktop/bedroom-2x.jpg 2x"
               type="image/jpg"
              />
      <source
            media="(min-width: 1024px)"
              srcset="
               ./images/hotelpage/ipad/bedroom.jpg 1x,
               ./images/hotelpage/desktop/bedroom-2x.jpg 2x"
              type="image/jpg"
               />
       <source
          media="(max-width: 1023px)"
            srcset="
             ./images/hotelpage/iphone/double-bedroom.jpg 1x,
             ./images/hotelpage/iphone/double-bedroom-2x.jpg 2x"
              type="image/jpg"
              />
       <img class="images"
          src="./images/hotelpage/desktop/bedroom.jpg" alt="кімната" width="460">
       </picture>
       <div class="wrapper">
  <div class="slider">
  
  </div>
        <ul class="btn-list list">
          <li class="btn-list__item">
            <a class="btn btn--color-black btn-list__btn button-link link" 
            href="#">Детальніше</a>
          </li>
      <li class="btn-list__item">
      <button class="btn btn--color-black btn-list__btn js-open-modal"
      data-modal="3" 
      type="button">Переглянути ціни</button>
    </li>
    </ul>
  </div>
    </div>
  </section>