
<section class="double-room">
  <div class="hotel-about container">
    <div class="text-wraper">
      <h3 class="hotel-about__subtitle">Amet minim mollit non</h3>
      <p class="hotel-about__logo">MIMIHO</p>
      <h2 class="hotel-about__title">ДВОМІСНИЙ НОМЕР</h2>
      <p class="hotel-about__description">

<section class="double">
  <div class="container">
    <div class="hotel-about">
      <h3 class="hotel__item-titel">Amet minim mollit non</h3>
      <p class="logo-page logo-room">MIMIHO</p>
      <h2 class="hotel__room item">ДВОМІСНИЙ НОМЕР</h2>
      <p class="hotel__about item">

        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="hotel-about__img">
      <picture>
        <source
          srcset="
            ./images/double-room/min-bedroom-des.jpg    1x,
            ./images/double-room/min-bedroom-des-2x.jpg 2x
          "
          media="(min-width:1280px)"
          sizes="254"
        />
        <source
          srcset="
            ./images/double-room/min-bedroom-tab.jpg    1x,
            ./images/double-room/min-bedroom-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
          sizes="194"
        />
        <img
          srcset="./images/double-room/min-bedroom-mob-2x.jpg 2x"
          src="./images/double-room/min-bedroom-mob.jpg"
          alt="Двомісний номер"
        />
      </picture>
    </div>
    <div class="content-wrap">
      <div class="slider-box room">
        <div class="swiper mini-slider-1">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/double-room/min-living-des.jpg    1x,
                    ./images/double-room/min-living-des-2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                  sizes="254"
                />
                <source
                  srcset="
                    ./images/double-room/min-living-tab.jpg    1x,
                    ./images/double-room/min-living-tab-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  sizes="194"
                />
                <img
                  class="swiper__img"
                  srcset="./images/double-room/min-living-tab-2x.jpg 2x"
                  src="./images/double-room/min-living-tab.jpg"
                  alt="готельно-ресторанний комплекс Міміно"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/double-room/min-bathroom-des.jpg    1x,
                    ./images/double-room/min-bathroom-des-2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                  sizes="254"
                />
                <source
                  srcset="
                    ./images/double-room/min-bathroom-tab.jpg    1x,
                    ./images/double-room/min-bathroom-tab-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  sizes="194"
                />
                <img
                  class="swiper__img"
                  srcset="./images/double-room/min-bathroom-tab-2x.jpg 2x"
                  src="./images/double-room/min-bathroom-tab.jpg"
                  alt="готельно-ресторанний комплекс Міміно"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/slider/desktop/foto13-desk-1x.jpg 1x,
                    ./images/slider/desktop/foto13-desk-2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                  sizes="254"
                />
                <source
                  srcset="
                    ./images/slider/tablet/foto13-tab-1x.jpg 1x,
                    ./images/slider/tablet/foto13-tab-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  sizes="194"
                />
                <img
                  class="swiper__img"
                  srcset="./images/slider/tablet/foto13-tab-2x.jpg 2x"
                  src="./images/slider/tablet/foto13-tab-1x.jpg"
                  alt="готельно-ресторанний комплекс Міміно"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/slider/desktop/foto3-desk-1x.jpg 1x,
                    ./images/slider/desktop/foto3-desk-2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                  sizes="1280"
                />
                <source
                  srcset="
                    ./images/slider/tablet/foto3-tab-1x.jpg 1x,
                    ./images/slider/tablet/foto3-tab-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  sizes="194"
                />
                <img
                  class="swiper__img"
                  srcset="./images/slider/tablet/foto3-tab-2x.jpg 2x"
                  src="./images/slider/tablet/foto3-tab-1x.jpg"
                  alt="готельно-ресторанний комплекс Міміно"
                />
              </picture>
            </div>
          </div>
          <div class="swiper-button__wraper">
            <div class="swiper-button__prev">
              <svg class="swiper-button__icon icon-left">
                <use href="./images/sprite.svg#icon-cil_arrow-left"></use>
              </svg>
            </div>
            <div class="swiper-button__next">
              <svg class="swiper-button__icon icon-right">
                <use href="./images/sprite.svg#icon-cil_arrow-right"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="button-wraper">
        <a class="btn btn--color-black link" href="./double-room.html"
          >Детальніше</a
        >
        <button
          class="btn btn--color-black js-open-modal"
          data-modal="3"
          type="button"
        >
          Переглянути ціни
        </button>
      </div>
    </div>

    <picture>
      <source
        srcset="
          ./images/double-room/min-bedroom-mob.jpg    1x,
          ./images/double-room/min-bedroom-mob-2x.jpg 2x
        "
        type="image/jpeg"
        media="(max-width: 1023px)"
      />
      <source
        srcset="
          ./images/double-room/min-bedroom-tab.jpg    1x,
          ./images/double-room/min-bedroom-tab-2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/double-room/min-bedroom-des.jpg    1x,
          ./images/double-room/min-bedroom-des-2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width: 1280px)"
      />
      <img
        class="images"
        src="./images/double-room/min-bedroom-mob.jpg"
        alt="Фото двомісного номера"
        width="460"
      />
    </picture>
    <div class="wrapper">
      <div class="slider"></div>
      <ul class="btn-list list curetn">
        <li class="btn-list-item">
          <a class="btn btn--color-black link action" href="./double-room.html"
            >Детальніше</a
          >
        </li>
        <li class="btn-list__item">
          <button
            class="btn btn--color-black js-open-modal"
            data-modal="3"
            type="button"
          >
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>

  </div>
</section>
