<!-- ТРИМІСНИЙ номер -->
<section class="triple-room">
  <div class="triple-room__wrapper">
    <div class="triple-room__container">
      <p class="triple-room__subtitle">Amet minim mollit non</p>
      <a href="#" class="triple-room__logo link">Mimiho</a>
      <h2 class="triple-room__title">Тримісний номер</h2>
      <p class="triple-room__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            ./images/hotelpage/iphone/triple-bedroom.jpg    1x,
            ./images/hotelpage/iphone/triple-bedroom-2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/hotelpage/ipad/bedroom.jpg    1x,
            ./images/hotelpage/ipad/bedroom-2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotelpage/desktop/bedroom.jpg    1x,
            ./images/hotelpage/desktop/bedroom-2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1280px)"
        />
        <img
          class="triple-room__img"
          src="./images/hotelpage/desktop/bedroom-2x.jpg"
          alt="Фото тримісного номера"
        />
      </picture>

      <div class="triple-room__slider-wrapper"></div>

      <ul class="btn-list list">
        <li class="btn-list__item">
          <a class="btn-list__btn button-link link" href="#"> Детальніше </a>
        </li>
        <li class="btn-list__item">
          <button
            class="btn-list__btn js-open-modal"
            data-modal="3"
            type="button"
          >
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
