<!-- тримісний номер -->
<section class="triple-room">
  <div class="container triple-room__wrapper">
    <p class="triple-room__subtitle">Amet minim mollit non</p>
    <a href="#" class="triple-room__logo link">Mimiho</a>

    <h2 class="triple-room__title">Трьохмісний номер</h2>
    <p class="triple-room__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <picture>
      <source
        srcset="
          ./images/triple-room/min-bedroom-mob.jpg    1x,
          ./images/triple-room/min-bedroom-mob-2x.jpg 2x
        "
        type="image/jpeg"
        media="(max-width: 1023px)"
      />
      <source
        srcset="
          ./images/triple-room/min-bedroom-tab.jpg    1x,
          ./images/triple-room/min-bedroom-tab-2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/triple-room/min-bedroom-des.jpg    1x,
          ./images/triple-room/min-bedroom-des-2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width: 1280px)"
      />
      <img
        class="triple-room__img"
        src="./images/triple-room/min-bedroom-mob-2x.jpg"
        alt="Фото тримісного номера"
      />
    </picture>

    <div class="wraper-box">
      <div class="slider-box room u-m-right">
        <div class="swiper mini-slider-r">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/triple-room/min-living-des.jpg    1x,
                    ./images/triple-room/min-living-des-2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/triple-room/min-living-tab.jpg    1x,
                    ./images/triple-room/min-living-tab-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  class="swiper__img"
                  srcset="./images/triple-room/min-living-tab-2x.jpg 2x"
                  src="./images/triple-room/min-living-tab.jpg"
                  alt="готельно-ресторанний комплекс Міміно"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/triple-room/min-bathroom-des.jpg    1x,
                    ./images/triple-room/min-bathroom-des-2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/triple-room/min-bathroom-tab.jpg    1x,
                    ./images/triple-room/min-bathroom-tab-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  class="swiper__img"
                  srcset="./images/triple-room/min-bathroom-tab-2x.jpg 2x"
                  src="./images/triple-room/min-bathroom-tab.jpg"
                  alt="готельно-ресторанний комплекс Міміно"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/triple-room/min-living-des.jpg    1x,
                    ./images/triple-room/min-living-des-2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/triple-room/min-living-tab.jpg    1x,
                    ./images/triple-room/min-living-tab-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  class="swiper__img"
                  srcset="./images/triple-room/min-living-tab-2x.jpg 2x"
                  src="./images/triple-room/min-living-tab.jpg"
                  alt="готельно-ресторанний комплекс Міміно"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/triple-room/min-bathroom-des.jpg    1x,
                    ./images/triple-room/min-bathroom-des-2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/triple-room/min-bathroom-tab.jpg    1x,
                    ./images/triple-room/min-bathroom-tab-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  class="swiper__img"
                  srcset="./images/triple-room/min-bathroom-tab-2x.jpg 2x"
                  src="./images/triple-room/min-bathroom-tab.jpg"
                  alt="готельно-ресторанний комплекс Міміно"
                />
              </picture>
            </div>
          </div>
          <div class="swiper-button__wraper">
            <div class="swiper-button__prev">
              <svg class="swiper-button__icon icon-left">
                <use href="./images/sprite.svg#icon-cil_arrow-left"></use>
              </svg>
            </div>
            <div class="swiper-button__next">
              <svg class="swiper-button__icon icon-right">
                <use href="./images/sprite.svg#icon-cil_arrow-right"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <ul class="btn-list list">
        <li class="btn-list__item">
          <a
            class="btn btn--color-black btn-list__btn button-link link"
            href="./triple-room.html"
          >
            Детальніше
          </a>
        </li>
        <li class="btn-list__item">
          <button
            class="btn btn--color-black btn-list__btn js-open-modal"
            data-modal="3"
            type="button"
          >
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
