//----------Buttons
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include font(16px, 20px, 700, 0.02em);
  color: getColor('accent-color');
  min-width: 236px;
  padding: 12px 22px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  cursor: pointer;
  @include tablet {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    @include tablet {
      background-color: #ffffff;
    }
  }
}

.btn--color-black {
  background: #000000;
  &:hover,
  &:focus {
    @include tablet {
      border: 2px solid getColor('accent-color');
    }
  }
}
ul {
  list-style: none;
}
