.logo-page {
  font-family: 'Film P3', sans-serif;
  @include font(40, 69, 700, 0.3em);
  color: #494848;
  text-transform: uppercase;

  @include tablet {
    font-size: 64px;
    line-height: 1.08;
  }

  @include desktop {
    color: getColor('contacts');
  }
}

.logo-page--color-white {
  color: getColor('white-text');
}
