.slider-box {
  width: 330px;
  overflow: hidden;
  margin-top: 32px;
  margin-left: -15px;

  @media screen and (max-width: 413px) {
    width: 80vw;
  }
  @include tablet {
    width: 428px;
    overflow: inherit;
    margin-top: -28px;
    margin-left: 0;
  }
  @include desktop {
    width: 548px;
    margin-top: -147px;
  }
  &.u-m-right {
    margin-right: -15px;
    @include tablet {
      margin-right: 0;
    }
  }
}
.swiper {
  &__img {
    background: #dadada;
    border-radius: 2px;
  }
}
.swiper.mini-slider-1 {
  margin-left: -180px;
  @include tablet {
    margin-left: auto;
  }
}
.swiper-button {
  &__wraper {
    margin-left: 195px;
    @include tablet {
      margin-left: 0;
    }
  }
}
.swiper.mini-slider-r {
  margin-right: -180px;
  @include tablet {
    margin-right: auto;
  }
  .swiper-button {
    &__wraper {
      margin-right: 195px;
      @include tablet {
        margin-right: 0;
      }
    }
  }
}
.swiper-button {
  &__wraper {
    display: flex;
    margin-top: 20px;
  }
  &__prev {
    margin-right: 32px;
  }
  &__prev,
  &__next {
    display: flex;
    cursor: pointer;
    @include tablet {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        fill: getColor('accent-color');
      }
    }
  }
  &__icon {
    @include box(32px);
    @media screen and (max-width: 413px) {
      width: 8vw;
    }
  }
}
.u-right {
  justify-content: flex-end;
}
.u-m-right {
  margin-left: auto;
}

//--------triple room
.triple-room {
  .slider-box {
    order: inherit;
    margin-top: 0;
    @include tablet {
      order: 1;
    }
  }
}
// FOR PAGE ROOM STYLING
.slider-box.room {
  width: 279px;
  margin-top: 0;
  @media screen and (max-width: 413px) {
    width: 70vw;
  }
  @include tablet {
    width: 428px;
  }
  @include desktop {
    width: 548px;
  }
  .swiper.mini-slider-1 {
    margin-left: -129px;
    @include tablet {
      margin-left: auto;
    }
  }
  .swiper.mini-slider-r {
    margin-right: -129px;
    @include tablet {
      margin-right: auto;
    }
  }
}
.room {
  .swiper-button {
    &__wraper {
      margin-left: 144px;
      @include tablet {
        margin-left: 0;
      }
    }
  }
}
.slider-wrap {
  width: 370px;

  @include tablet {
    width: auto;
    margin-left: 0;
  }
}
.swiper.slider-3,
.swiper.slider-3-r {
  max-width: 560px;

  @include tablet {
    margin-left: 0;
    max-width: 662px;
  }
  @include desktop {
    max-width: 874px;
  }

  .swiper-slide {
    width: auto !important;
    @include tablet {
    }
  }
}
.swiper.slider-3-r {
  .swiper-button__wraper {
    margin-left: 0;
  }
}
.swiper.slider-3 {
  margin-left: -190px;
}
.u-white {
  fill: #fff;
}
.m-left {
  margin-left: -15px;
}
.m-right {
  margin-right: -15px;
}
