.modal-price {
  padding: 60px 15px;
  width: 100%;
  max-width: 414px;
  border-radius: 2px;

  @include tablet {
    max-width: 712px;
    padding: 60px;
  }
}

.modal-price__close {
  position: absolute;
  top: 16px;
  right: 16px;
  @include flex-center();
  padding: 0;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  stroke: getColor('primary-title');
}

.modal-price__title {
  @media screen and (max-width: 413px) {
    font-size: 5.8vw;
  }
  margin-bottom: 40px;
  font-family: 'Times New Roman', serif;
  font-style: normal;
  @include font(24, 28, 700, 0.05em);
  color: getColor('primary-title');
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    font-size: 32px;
    line-height: 1.157;
  }
}

.modal-price__subtitle {
  @media screen and (max-width: 413px) {
    font-size: 5.8vw;
  }
  margin-bottom: 28px;
  font-family: 'Times New Roman', serif;
  font-style: normal;
  @include font(24, 28, 700, 0.05em);
  color: getColor('placeholder');
}

.modal-price__text {
  @media screen and (max-width: 413px) {
    font-size: 3.9vw;
  }
  margin-bottom: 20px;
  @include font(16, 20, 500, 0.02em);
  color: getColor('second-accent');
}

.modal-price__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include tablet {
    flex-direction: row;
  }
}

.modal-price__item {
  @include flex-column();
}

.modal-price__item:last-child {
  margin-bottom: 40px;
}

.modal-price__select {
  @media screen and (max-width: 413px) {
    font-size: 5.8vw;
  }
  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: 8px;
  padding: 13px 20px 13px 15px;
  border: 1px solid getColor('second-accent');
  background-color: getColor('primary-bg');
  font-family: 'Times New Roman';
  font-style: normal;
  @include font(24, 28, 700, 0.05em);
  color: getColor('placeholder');
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    width: 288px;
  }
  &:hover,
  &:focus {
    border-color: #766e17;
  }
}

.modal-price__input {
  @media screen and (max-width: 413px) {
    font-size: 5.8vw;
  }
  max-width: 100%;
  height: 54px;
  margin-bottom: 8px;
  padding: 13px 20px 13px 15px;
  border: 1px solid getColor('second-accent');
  background-color: getColor('primary-bg');
  font-family: 'Times New Roman';
  font-style: normal;
  @include font(24, 28, 700, 0.05em);
  color: getColor('placeholder');
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    width: 288px;
  }
  &:hover,
  &:focus {
    border-color: #766e17;
  }
}

.modal-price__label {
  @media screen and (max-width: 413px) {
    font-size: 3.9vw;
  }
  margin-left: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: getColor('second-accent');

  &--lowercase {
    text-transform: lowercase;
  }
}

.modal-price__button {
  @media screen and (max-width: 413px) {
    font-size: 4.1vw;
    height: 64px;
  }
  background-color: getColor('primary-title');
  color: getColor('white-text');
  width: 100%;
  padding: 20px 64px;
  border: 1px solid getColor('accent-color');
  border-radius: 2px;
  font-family: inherit;
  @include font(20, 24, 500, 0.02em);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    font-size: 24px;
    line-height: 1.2;
  }
  &:hover,
  &:focus {
    background-color: getColor('accent-color');
    color: getColor('primary-title');
  }
}
