.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  z-index: 110;
}
.modal {
  opacity: 0;
  visibility: hidden;
  background-color: map-get($colors, 'primary-bg');
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(0);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 130;
}
.modal-room {
  width: 100%;
  border-radius: 2px;
  padding: 60px 15px;
  @include mobile {
    width: 414px;
  }
  @include tablet {
    width: 712px;
    height: 638px;
    padding: 60px;
  }
}
.modal-close {
  width: 24px;
  height: 24px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 15px;
  @include flex-center;
  padding: 0;
  border: none;
}
.modal-room-icon {
  stroke: map-get($colors, 'primary-title');
}
.modal-room-title {
  margin-bottom: 40px;
  font-family: 'Times New Roman';
  font-style: normal;
  text-align: center;
  color: map-get($colors, 'primary-title');
  text-transform: uppercase;

  @include font(24px, 28px, 700, 0.05em);
  @media screen and (max-width: 413px) {
    font-size: 5vw;
  }

  @include tablet {
    font-size: 40px;
    line-height: 1.15;
    margin-bottom: 36px;
  }
}

.room-intut-wrap {
  @include flex-column;

  @media screen and (max-width: 1023px) {
    margin-bottom: 20px;
    gap: 20px;
  }
  @include tablet {
    flex-direction: row;
    gap: 16px;
    margin-bottom: 28px;
  }
}
.room-label-wrap {
  position: relative;
}

.room-label {
  @include flex-column;
}
.room-label::after {
  content: '';
  position: absolute;
  top: 16px;
  right: 16px;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}
.room-select-wpap {
  margin-bottom: 40px;
  @include flex-column;
  gap: 20px;
  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
.modal-room-input {
  width: 100%;
  height: 54px;
  border-radius: 2px;
  padding: 0 12px;
  display: inline-block;
  display: flex;
  background-color: transparent;
  color: map-get($colors, 'placeholder');
  font-size: 20px;
  border: 1px solid map-get($colors, 'second-accent');
  outline: transparent;
  &::placeholder {
    font-family: 'Times New Roman';
    font-style: normal;
    color: map-get($colors, 'placeholder');
    @include font(20px, 23px, 700, 0.05em);
  }
  &:focus {
    border: 2px solid #d2691e;
  }
  @media screen and (max-width: 413px) {
    font-size: 4vw;
    &::placeholder {
      font-size: 4vw;
    }
  }
  @include tablet {
    width: 288px;
    height: 64px;
    font-size: 24px;
    &::placeholder {
      font-size: 24px;
    }
  }
}
.modal-room-text {
  display: block;
  margin-top: 8px;
  font-family: 'Montserrat';
  font-style: normal;
  color: map-get($colors, 'second-accent');
  padding-left: 12px;
  @include font(14px, 17px, 500, 0.02em);
  @include tablet {
    font-size: 16px;
    line-height: 20px;
  }
}
.room-select {
  width: 100%;
  height: 54px;
  padding: 0 12px;
  font-family: 'Times New Roman';
  font-style: normal;
  color: map-get($colors, 'placeholder');
  background-color: transparent;
  border: 1px solid map-get($colors, 'second-accent');
  appearance: none;
  z-index: 2;
  outline: transparent;
  &:focus {
    border: 2px solid #d2691e;
  }
  @include font(20px, 23px, 700, 0.05em);

  @media screen and (max-width: 413px) {
    font-size: 4vw;
  }
  @include tablet {
    width: 288px;
    font-size: 24px;
    height: 64px;
  }
}

.room-wrap-right {
  @media screen and (max-width: 1023px) {
    margin-bottom: 20px;
  }
  @include tablet {
    @include flex-column;
    margin-left: 304px;
    margin-bottom: 28px;
  }
}
.room-select-right {
  @include tablet {
    width: 288px;
  }
}
.btn-modal-room {
  width: 100%;
  height: 64px;
  background-color: map-get($colors, 'primary-title');
  border: 1px solid map-get($colors, 'accent-color');
  border-radius: 2px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 4vw;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background-color: map-get($colors, 'accent-color');
    color: map-get($colors, 'primary-title');
  }
  @include mobile {
    font-size: 20px;
  }
}

.modal-room.is-show {
  display: block;
}
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal.active {
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 300ms linear;
}
