.footer {
    background: #0E0C07;

    @media screen and (max-width: 1023px) {
        .footer__social {
            display: none;
        }
    }

    @media screen and (min-width: 1024px) {
        .footer__social--mobile {
            display: none;
        }
    }
}

.footer__container {
    display: flex;

    // @media screen (min-width: 1024px) {
        
    // }
}
.footer__logo {
    @include font (40px, 1.075, 700, 0.3em);
    font-family: Film P3;

    text-transform: uppercase;
    text-decoration: none;
    color: map-get($colors, 'accent-color');

    margin: 98px 0 99px 44px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    @media screen and (min-width: 1024px) {
        @include font (64px, 1.078, 700, 0.3em); 
        margin: 117px 0 117px 107px;
    }

    @media screen and (min-width: 1280px) {
        @include font (64px, 1.078, 700, 0.3em); 
        margin: 120px 0 120px 131px;
    }

    &:hover,
    &:focus {
        color: map-get($colors, 'second-accent');
        
    }
}

.footer__list {
    text-decoration: none;
    font-style: normal;

    color: map-get($colors, 'accent-color');

    padding-top: 40px;
    padding-right: 41px;

    @media screen and (min-width: 1024px) {
        padding-top: 80px;
        padding-right: 0;
        padding-bottom: 119px;
    }

}

.footer__item {
    &:not(:last-child) {
        margin-bottom: 16px;
    }

    @include font (24px, 1.2, 400, 0.02em);
    font-family: Montserrat;

    @media screen and (min-width: 1024px) {
        @include font (20px, 1.2, 400, 0.02em); 
    }

    @media screen and (min-width: 1280px) {
        @include font (20px, 1.2, 400, 0.02em); 
    }
}

.footer__link {
    color: map-get($colors, 'accent-color');

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: map-get($colors, 'second-accent');
    }
}

.footer__social {
    display: flex;

    @media screen and (min-width: 1024px) {
        flex-direction: column;
        padding-top: 80px;
        margin-left: 137px;
    }

    @media screen and (min-width: 1280px) {
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 80px;
        margin-left: 199px;
    }
}

.footer__social--mobile {
    display: flex;
    margin-top: 34px;
    flex-direction: row;

}

.social__item {
    &:not(:last-child) {
        margin-bottom: 25px;
    }
}

.social__link {
    @include font (16px, 1.25, 400, 0.02em);
    font-family: Montserrat;

    color: map-get($colors, 'accent-color');


    @media screen and (min-width: 1024px) {
        border: 0.5px solid map-get($colors, 'accent-color');
        border-radius: 2px;
    
        padding: 10px 0 10px 12px;
    }

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: map-get($colors, 'second-accent');
        border-color: map-get($colors, 'second-accent');
    }
}

.footer__wrapper {
    display: flex;
    flex-direction: column;

    margin-left: 55px;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: baseline;
        margin-left: 163px;
    }

    @media screen and (min-width: 1280px) {
        flex-direction: row;
        align-items: baseline;
        margin-left: 210px;
    }

    
}

