.footer {
    background: #0E0C07;

    @media screen and (max-width: 1023px) {
        .footer__social {
            display: none;
        }
    }

    @media screen and (min-width: 1024px) {
        .footer__social--mobile {
            display: none;
        }
    }
}

.footer__container {
    display: flex;

}

.footer__logo {
    @include font(40px, 43px, 700, 0.3em);
    font-family: Film P3;

    text-transform: uppercase;
    text-decoration: none;
    color: map-get($colors, 'accent-color');

    margin: 98px 0 99px 44px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 414px) {
        @include font(9vw, 10vw, 700, 0.3em);
        
    }

    @media screen and (min-width: 1024px) {
        @include font (64px, 69px, 700, 0.3em); 
        margin: 117px 0 117px 107px;
    }

    @media screen and (min-width: 1280px) {
        @include font (64px, 69px, 700, 0.3em); 
        margin: 120px 0 120px 131px;
    }

    &:hover,
    &:focus {
        color: map-get($colors, 'second-accent');
        
    }
}

.footer__list {
    text-decoration: none;
    font-style: normal;

    color: map-get($colors, 'accent-color');


    @media screen and (max-width: 1023px) {
    padding-top: 40px;

        &.mb {
            margin-bottom: 33px;
        }
    }

    @media screen and (min-width: 1024px) {
        padding-right: 0;
    }
    
}


.footer__item {
    &:not(:last-child) {
        margin-bottom: 16px;
    }

}

.footer__link {
    color: map-get($colors, 'accent-color');

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: map-get($colors, 'second-accent');
    }

    @include font (20px, 24px, 400, 0.02em);
    font-family: Montserrat;

    @media screen and (max-width: 414px) {
        @include font (4vw, 5vw, 400, 0.02em);
    }

    @media screen and (min-width: 1024px) {
        @include font (20px, 24px, 400, 0.02em); 
    }

    @media screen and (min-width: 1280px) {
        @include font (20px, 24px, 400, 0.02em); 
    }
}

.footer__social {
    display: flex;

    @media screen and (min-width: 1024px) {
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 80px;

        &.ml {
            margin-left: 137px;
        }
    }

    @media screen and (min-width: 1280px) {
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 80px;
        margin-left: 199px;

        &.ml {
            margin-left: 199px;
        }
    }
}

.icon {
    color: map-get($colors, 'accent-color');

    width: 24px;
    height: 240px;
}

.footer__social--mobile {
    display: flex;
    flex-direction: row;

    color: map-get($colors, 'accent-color');

}

.social__item--mobile:not(:last-child) {
    margin-right: 23px;
}

.social__item--mobile {
    color: map-get($colors, 'accent-color');
    
}

.social__item {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 25px; 
    }
}

.social__link {
    @include font (16px, 20px, 400, 0.02em);
    font-family: Montserrat;

    color: map-get($colors, 'accent-color');


    @media screen and (min-width: 1024px) {
        display: flex;
        width: 144px;
        border: 0.5px solid map-get($colors, 'accent-color');
        border-radius: 2px;
        
        padding: 10px 0 10px 12px;
        & .icon {
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);
        }
    }

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .icon,
    &:focus .icon,
    &:hover,
    &:focus {
        color: map-get($colors, 'second-accent');
        border-color: map-get($colors, 'second-accent');
    }

}

.footer__wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (max-width:413px) {
        margin-left: 7vw; 
    }

    @media screen and (min-width: 414px) {
        margin-left: 55px; 
    }

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: baseline;
        margin-left: 163px;
    }

    @media screen and (min-width: 1280px) {
        flex-direction: row;
        align-items: baseline;
        margin-left: 210px;
    }

    
}

