@import './header';
@import './footer';
@import './book-room-modal';
@import './book-table-modal';
@import './book-price-modal';

// Main Page
@import './pages/main-page/hero';
@import './pages/main-page/about-our-restaurant';
@import './pages/main-page/details-of-our-restaurant';
@import './pages/main-page/details-of-our-hotel';
@import './pages/main-page/details-of-our-hotel';
@import './pages/main-page/contacts';

// Restaurant Page
@import './pages/restaurant/hero';
@import './pages/restaurant/about';
@import './pages/restaurant/menu';

// Hotel Page
@import './pages/hotel/hero';
@import './pages/hotel/double-room-luxe';
@import './pages/hotel/double-room';
@import './pages/hotel/triple-room';

// Double room luxe
@import './pages/double-room-luxe/hero';
@import './pages/double-room-luxe/amenities';

// Double room
@import './pages/double-room/hero';
@import './pages/double-room/amenities';

// Triple room
@import './pages/triple-room/hero';
@import './pages/triple-room/amenities';
