.footer {
    background: #0E0C07;

    @media screen and (max-width: 1023px) {
        .footer__social {
            display: none;
        }
    }

    @media screen and (min-width: 1024px) {
        .footer__social--mobile {
            display: none;
        }
    }
}

.footer__container {
    display: flex;

    // @media screen (min-width: 1024px) {
        
    // }
}
.footer__logo {
    font-family: "Film P3";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    text-transform: uppercase;

    letter-spacing: 0.3em;

    /* Akzent yellow */

    color: #F3C653;

    padding: 98px 5px 99px 45px;

}

.footer__list {
    text-decoration: none;
    font-style:normal;

    color: #F3C653;

    padding-top: 40px;

    @media screen and (min-width: 1024px) {
        padding-top: 80px;
        margin-left: 163px;
    }
}

.footer__social {
    display: flex;

    @media screen and (min-width: 1024px) {
        flex-direction: column;
        padding-top: 80px;
        margin-left: 137px;
    }
}

.footer__social--mobile {
    margin-top: 34px;
}

.footer__item {
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.footer__link {
    color: #F3C653;

}

.social__link {
    color: #F3C653;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: baseline;
    }
}

